# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Project.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Marios\OneDrive - unipi.gr\Documents\GitHub\Grand-Theft-Auto-VI\Project\.idea\.idea.Project\.idea/dataSources/
/dataSources.local.xml
